# AZRYL AI - Environment Variables
PORT=3000
AI_API_KEY=ISI_API_KEY_SENDIRI
AI_BASE_URL=https://api.x.ai/v1
AI_MODEL=grok-4.6

# System environment variables
GEMINI_API_KEY="MY_GEMINI_API_KEY"
APP_URL="MY_APP_URL"

